<!DOCTYPE html>
<meta charset="utf-8">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<style>

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../static/js/graph_api.js"></script>


<script>
$( document ).ready(function() {
  gen_graph();
});
</script>

<body>
  <svg id="graph" width="960" height="600"></svg>
</body>
